.meetup {
  width: 90%;
  margin-top: 25px;
  border-radius: 15px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  padding-bottom: 35px;
  position: relative;
  z-index: 1;
}

.meetup > * {
  margin-bottom: 10px;
}

.meetup > img {
  max-height: 500px;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.meetup > h2 {
  padding: 0 15px;
  margin-bottom: 7.5px;
  line-height: 1.25;
  color: rgb(19, 105, 105);
}

.meetup > address {
  padding: 0 15px;
}

.meetup > a {
  position: absolute;
  right: 28px;
  bottom: 6px;
  color: rgb(19, 105, 105);
  text-decoration: underline;
}

.meetup > a:hover {
  text-decoration: none;
}
